.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 150px 50px;
    padding: 20px;
    border: 1px solid silver;
    background-color: #fff;
    border-radius: 10px;
}
.image{
    width: 350px;
}
.textContainer{
    text-align: left;
    margin-left: 30px;
    padding: 20px;
    border: 1px solid rgb(237, 235, 235);
    border-radius: 23px;
    background: linear-gradient(45deg, #eae9e9, #ffffff);
    box-shadow:  5px -5px 6px #9d9d9d,
                -5px 5px 6px #ffffff;
}
.textContainer h3{
    color: #7a7a7a;
    margin: 20px 0 30px;
}
.description{
    color: rgb(62, 62,62);
    margin-bottom: 30px;
}
.category {
    color: #7a7a7a;
    font-size: bold;
    margin-bottom: 50px;
}
.category span {
    color: #7a7a7a;
    font-size: 1rem;
    font-weight: bold;
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttonContainer a{
    text-decoration: none;
    display: inline-block;
    padding: 7px 16px;
    color: #7a7a7a;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all 0.2s ease;
    background-color: #404040;
    border-radius: 23px;
    background: linear-gradient(45deg, #d6d6d6, #ffffff);
    box-shadow:  5px -5px 6px #9d9d9d,
                 -5px 5px 6px #ffffff;
}
.buttonContainer a:hover{
    background-color: black;
}

.price{
    display: inline-block;
    padding: 7px 16px;
    font-weight: bold;
    color: #7a7a7a;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #404040;
    border-radius: 23px;
    background: linear-gradient(45deg, #d6d6d6, #ffffff);
    box-shadow:  5px -5px 6px #9d9d9d,
                 -5px 5px 6px #ffffff;

}
@media(max-width:1000px){
    .container{
        flex-direction: column;
        justify-content: center;
    }
    .image{
        width: 170px;
        margin-bottom: 50px;
    }
    .textContainer{
        margin: 0;
    }
}

@media(max-width:768px){
    .container{
        margin: 120px 40px 50px;
        justify-content: center;
    }
    .textContainer{
        margin: 0;
    }
}
@media(max-width:555px){
    .container{
        margin: 120px 20px 50px;
        justify-content: center;
    }
    .textContainer{
        margin: 0;
    }
}